source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Configuration
nuget FSharp.Control.AsyncSeq
nuget FSharp.Control.Reactive
nuget FSharp.Interop.Dynamic
nuget FSharpPlus
nuget FsToolkit.ErrorHandling
nuget FsToolkit.ErrorHandling.TaskResult
nuget Microsoft.Xaml.Behaviors.Wpf
nuget ProcessX
nuget Serilog.Extensions.Logging
nuget Serilog.Sinks.Console

nuget Avalonia.FuncUI 1.1.0
nuget Avalonia.FuncUI.Elmish 1.1.0
nuget Avalonia != 11.0.5
nuget Avalonia.Desktop 
nuget Avalonia.Diagnostics 
nuget Avalonia.Themes.Fluent 
nuget Avalonia.Angle.Windows.Natives ~> 2.1.0.0

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.Hopac
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk

nuget VideoLAN.LibVLC.Windows
nuget LibVLCSharp